# Common
**/node_modules
**/*.swp
.env

# API
api/config/master.key
api/tmp/
api/log/
api/shared/log/
api/shared/pids/
api/vendor/

# frontend
frontend/dist/

# custom_bulma
# always want latest deps for bulma
custom_bulma/package-lock.json
